@import url("normalize.css");

/*  variable  */
$bg-primary: #E4FAF4;

body {
  font-size: 16px;
  background-color: white;
}

.layout {
  width: 100%;
  height: auto;
}


/* --HEADER-- */ 
.top-line {
  height: 30px;
  background-color: $bg-primary;
}