@import url("normalize.css");

@import url("font.css");


/*  variable  */
$bg-primary: #E4FAF4;
$c-primary: #222222;

body {
  font-size: 16px;
  background-color: white;
  color: $c-primary;
}

.layout {
  width: 100%;
  height: auto;
}


/* --HEADER-- */ 
.top-line {
  width: 100%;
  height: auto;
  background-color: $bg-primary;
  font-family: 'AvenirM';
  font-size: 13px;

  &__content {
    max-width: 1440px;
    height: 30px;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
      padding: 2px 15px;
      box-sizing: border-box;
      cursor: pointer;
      border-right: 1px solid #D8D8D8;
      &:hover:not(p:last-child) {
        opacity: .6;
      }
    }

    p:last-child {
      font-family: 'AvenirL';
      cursor: default;
      border-right: none;
      padding-right: 0;

      span:hover {
        opacity: .6;
      }

      strong {
        font-family: 'AvenirM';
        font-weight: normal;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 425px) {
  .top-line {
    display: none;
  }
}