@import url("normalize.css");

/*  variable  */
$bg-primary: #E4FAF4;
$c-primary: #222222;

body {
  font-size: 16px;
  background-color: white;
  color: $c-primary;
}

.layout {
  width: 100%;
  height: auto;
}


/* --HEADER-- */ 
.top-line {
  width: 100%;
  height: 30px;
  background-color: $bg-primary;

  &__content {
    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;
  }
}